*~
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4
missing
.deps
Makefile
config.h
config.log
config.status
libtool
mmc-check-password-*.tar.gz
stamp-h1
